<template class="task-template">
  <div id="login-modal" class="login modal">
    <div class="login-wrapper">
      <!-- <header class="login-header">
        <img class="login-logo" src="assets/img/login.png" srcset="assets/img/login.png 1x, assets/img/login@2x.png 2x" alt="Electron API Demos">
      </header> -->
      <main class="login-sections">
        <section class="login-section play-along" id="noLogin">
          <img src="assets/img/theteller.png" class="login-logo">
          <p>Merchant ID</p>
          <input class="demo-input" id="merchant-id" type="text" placeholder="Merchant ID"></input>
          <br>
          <p>Password</p>
          <input class="demo-input" id="merchant-pass" type="password" placeholder="Password"></input>
        </section>
        <section class="login-section login-code" id="yesLogin">
          <img src="assets/img/theteller.png" class="login-logo">
          <img src="assets/img/user.png" class="center merchant-logo">
          <p class="text-center">
            <b>Merchant Name</b>
          </p>
          <input class="demo-input" id="merchant-pass" type="password" placeholder="Password"></input>

        </section>
        <footer class="login-section footer">
          <!-- <div class="rainbow-button-wrapper"> -->
          <button id="loginButton" class="demo-button ">Login</button>
          <!-- </div> -->
        </footer>
      </main>
    </div>
  </div>
  <script type="text/javascript">
    require('./renderer-process/login')
  </script>
</template>